name: Rebuild RSS
on:
  push:
    branches:
      - main
  schedule:
    - cron: '*/10 * * * *'

jobs:
  trigger-build-version:
    runs-on: ubuntu-latest
    environment: Production
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Append current date-time to version file
        run: echo "$(date '+%Y-%m-%d %H:%M:%S')" > version.txt
      - name: Commit version
        uses: EndBug/add-and-commit@v9
        with:
          message: 'Update version timestamp'
          add: 'version.txt'
          default_author: github_actions

      # - name: Install Vercel CLI
      #   run: npm install --global vercel@33.2.0

      # - name: Pull Vercel Environment Information
      #   run: vercel pull --yes --environment=preview --token=${{ secrets.VERCEL_TOKEN }}

      # - name: Build Project Artifacts
      #   run: |
      #     vercel build --token=${{ secrets.VERCEL_TOKEN }}
      #     ls .vercel/output -la
      # - name: Deploy Project Artifacts to Vercel
      #   run: |
      #     deploymentUrl="$(vercel deploy --prebuilt --token=${{ secrets.VERCEL_TOKEN }})"
      #     vercel alias --token=${{ secrets.VERCEL_TOKEN }} --scope=${{ secrets.VERCEL_ORG_ID }} set "$deploymentUrl" trunk-dev-staging.vercel.app
